.cards {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto 50px;
}

.card {
    display: flex;
	width: 100%;
	margin-bottom: 70px;
    border: none;
    background: #3d3f51;
}

.card__image {
	position: relative;
	display: block;	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.card__image::before {
	content: "";
	position: absolute;
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(36, 38, 50, 0.8);
	opacity: 0;
	transition: opacity .3s ease-in-out;
}

.card__image::after {	
	position: absolute;
	display: block;
	width: 100%;
	top: 50%; 		
	transform: translateY(-50%);
	opacity: 0;
	transition: opacity .3s ease-in-out;

	text-align: center;
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	text-align: center;

	color: #B7BADF;
}

.card__image--game::after {
    content: "ПОДРОБНЕЕ О ТУРНИРЕ";    
}

.card__image--event::after {
    content: "ПОДРОБНЕЕ О СОБЫТИИ";    
}

.card__image:hover::before,
.card__image:hover::after {
	opacity: 1;	
}

.card__title {
	display: flex;
	color: #fff;	
	flex-direction: column;
	text-decoration: none;

    font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;

    transition: color .3s ease;
}

.card__title:hover {    
    color: #B7BADF;
	text-decoration: none;
}

.card__content {
	position: relative;
	padding: 24px 55px;
	background: #3d3f51;
	text-decoration: none;
	color: #fff;		
}

.card__content--game::before {
    content: "";
    position: absolute;    
    background-image: url("../img/lighthpise.svg");
    background-size: contain;
    background-position-y: bottom;
    background-repeat: no-repeat;
}

.card__date {
    font-weight: 600;    
    color: #B7BAD1;
}

@media (max-width: 767px) {
	.card {
        flex-direction: row-reverse;      
        margin-bottom: 20px;  
	}

    .card__image {
        width: 30%;
        height: auto;
    }

    .card__content {
        width: 70%;
    }

    .card__content {
        padding: 20px 15px;
    }

    .card__content--game::before {
        content: none;
    }

    .card__image:hover::after {
        content: none;
    }

    .card__title {
        font-size: 16px;
        line-height: 1.2;
    }

    .card__date {
        font-size: 14px;
    }

    .card__description {
        display: none;
    }

    .card__link {
        display: none;
    }
}


@media (min-width: 768px) {
	.card {		
        justify-content: space-between;
	}

    .card__image {
        height: 220px;
    }

    .card__title {
        font-size: 18px;
        line-height: 1.4;
    }

    .card__date {
        font-size: 18px;
    }

    .card__description {
        margin-top: 24px;
        margin-bottom: 18px;
        font-size: 16px;
    }

    .card__link {
        display: inline-block;
        font-size: 18px;
        line-height: 24px;
        text-decoration: none;
        font-weight: 600;
        color: #fff;
        border-bottom: 1px solid #fff;
        transition: color .3s ease, border-color .3s ease;
    }
    
    .card__link:hover {
        color: #B7BADF;
        border-color: #B7BADF;
    }

    .card__content {
        padding: 15px 20px;
    }

    .card__content--game {
        padding: 15px 20px 15px 70px;
    }

    .card__content--game::before {       
        left: 15px;
        bottom: 0;
        width: 40px;
        height: 140px;       
    }
}

@media (min-width: 768px) and (max-width: 1365px) {
    .card {
		width: calc(50% - 20px);
    }

    .card:not(:nth-child(2n)) {
		margin-right: 40px;
	}
}

@media (min-width: 1024px) {
    .card__image {
        height: 300px;
    }
}

@media (min-width: 1366px) {
	.card {
		width: calc(33.33% - 40px);	
		max-width: 500px;
	}

    .card:not(:nth-child(3n)) {
		margin-right: 60px;
	}

    .card__image {        
        height: 360px;
    }

    .card__title {
        font-size: 24px;
        line-height: 30px;
    }

    .card__content--game {
        padding: 24px 55px 24px 99px;
    }

    .card__content--game::before {
        left: 20px;
        width: 59px;
        height: 145px;
    }
}
