.cards {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto 50px;
}

.card {
    display: flex;
	width: 100%;
	margin-bottom: 70px;
    border: none;
}

.card__image {
	position: relative;
	display: block;
	height: 360px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.card__image::before {
	content: "";
	position: absolute;
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(36, 38, 50, 0.8);
	opacity: 0;
	transition: opacity .3s ease-in-out;
}

.card__image::after {	
	position: absolute;
	display: block;
	width: 100%;
	top: 50%; 		
	transform: translateY(-50%);
	opacity: 0;
	transition: opacity .3s ease-in-out;

	text-align: center;
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	text-align: center;

	color: #B7BADF;
}

.card__image--game::after {
    content: "ПОДРОБНЕЕ О ТУРНИРЕ";    
}

.card__image--event::after {
    content: "ПОДРОБНЕЕ О СОБЫТИИ";    
}

.card__image:hover::before,
.card__image:hover::after {
	opacity: 1;	
}

.card__title {
	display: flex;
	color: #fff;	
	flex-direction: column;
	text-decoration: none;

    font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #FFFFFF;

    transition: color .3s ease;
}

.card__title:hover {
    
    color: #B7BADF;
	text-decoration: none;
}

.card__content {
	position: relative;
	padding: 24px 55px;
	background: #3d3f51;
	text-decoration: none;
	color: #fff;		
}

.card__content--game {
    padding: 24px 55px 24px 99px;
}

.card__content--game::before {
	content: "";
	position: absolute;
	left: 20px;
	bottom: 0;
	width: 59px;
	height: 145px;
	background-image: url("../img/lighthpise.svg");
	background-size: contain;
}

.card__date {
    font-size: 18px;
    font-weight: 600;    
    color: #B7BAD1;
}

.card__description {
    margin-top: 24px;
    margin-bottom: 18px;
    font-size: 16px;
}

.card__link {
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    border-bottom: 1px solid #fff;
    transition: color .3s ease, border-color .3s ease;
}

.card__link:hover {
    color: #B7BADF;
    border-color: #B7BADF;
}


@media (min-width: 768px) {
	.card {
		width: calc(50% - 40px);
	}

	.card:not(:nth-child(3n)) {
		margin-right: 60px;
	}
}

@media (min-width: 1024px) {
	.card {
		width: calc(33.33% - 40px);	
		max-width: 500px;
	}
}
